.container{
    width: 1440px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    outline: 1px solid red;
}
body{
    font-family: 'Roboto';
}
.header{
    padding-top: 13px;
    padding-bottom: 13px;
}
.header>.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav-list{
    display: flex;
    gap: 20px;
}
.nav-link{
    color: #000;
        text-align: center;
        font-size: 11px;
        font-weight: 400;
        line-height: 1.27;
        letter-spacing: 0.3px;
}
.header-img{
    width: 63px;
    height: 43px;
}
.header-list{
    display: flex;
    gap: 20px;
    align-items: center;
}

.hiro{
    padding-top: 308px;
    padding-bottom: 326px;
    background-image: url(../img/hiro.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.hiro-title{
    color: #FFF;
text-align: center;
font-size: 66px;
font-weight: 400;
line-height: 1.04; /* 104.545% */
margin-bottom: 23px;
}

.hiro-text{
    color: #FFF;
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 1.27; /* 127.778% */
margin-bottom: 70px;
}

.hiro-btm{
    color: #000;
text-align: center;
font-size: 11px;
font-weight: 700;
line-height: 1.45; /* 145.455% */
letter-spacing: 1.3px;
text-transform: uppercase;
border-radius: 999px;
background: #FFF;
padding: 1px 105px;
border: none;
}

.about {
    padding-top: 70px;
    padding-bottom: 85px;
    text-align: center;
}

.about-title {
    color: #000;
text-align: center;
font-size: 12px;
font-weight: 700;
line-height: 1.5; /* 150% */
letter-spacing: 0.96px;
text-transform: uppercase;
margin-bottom: 14px;
}

.about-text {
    width: 622px;
    color: #000;
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 1.27; /* 127.778% */
margin-left: auto;
margin-right: auto ;
}

.product {
    padding-top: 80px;
    padding-bottom: 79px;
}

.product-items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.product-item {
    color: #000;
font-size: 11px;
font-weight: 400;
line-height: 1.27; /* 127.273% */
letter-spacing: 1px;
text-transform: uppercase;
}

.product-list {
    display: flex;
    gap: 32px;
    justify-content: center;
}

.product-title {
    margin-top: 20px;
    margin-bottom: 5px;
    color: #000;
text-align: center;
font-size: 21px;
font-weight: 400;
line-height: 1.52; /* 152.381% */
}

.roduct-text {
    color: #000;
text-align: center;
font-size: 12px;
font-weight: 400;
line-height: 1.66; /* 166.667% */
letter-spacing: 0.25px;
margin-bottom: 86px ;
}

.product-btn {
    background-color: #FFA5FF;
    border-radius: 999px;
    width: 240px;
    padding-top: 8px;
    padding-bottom: 6px;
    border: none;
}

